

/App/artificial_consciousness/nbproject/private/
/App/artificial_consciousness/build/
/App/GameLogic/nbproject/private/
/App/GameLogic/build/
/App/GameLogic/dist/
/App/game_logic/nbproject/private/
/App/game_logic/build/
/App/game_logic/dist/


*~
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
log/*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Netbeans projects
App/game_logic/nbproject/**
App/game_service/nbproject/**
App/cogito/nbproject/**
**/build.xml
**/manifest.mf
**/project.properties

# CDT-specific
.cproject

# PDT-specific
.buildpath

*.class

# Package Files #
# *.jar
# *.war
# *.ear

#temporary files
*~

#useless files
*.tmp.dat

#log files
*.log

*.DS_Store

#Tools
Tools/*
/App/_cogito/nbproject/private/
/App/cogito/build/